/**
 * Copyright © Justin Simon. All rights reserved.
 * See COPYING.txt for license details.
 */

.securionpay-section .heading {background: url("images/securionpay_logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.securionpay-section .button-container {float: right;}
.securionpay-section .config-alt {background: url("images/securionpay_allinone.png") no-repeat scroll 0 0 / 100% auto; height: 42px; margin: 0.5rem 0 0; width: 400px;}

