<?xml version="1.0"?>
<!--
/**
 * Copyright © Visiture, LLC. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Payment Method Facade configuration -->
    <virtualType name="SecurionPayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Simon\SecurionPay\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Simon\SecurionPay\Block\Adminhtml\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Simon\SecurionPay\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">SecurionPayValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">SecurionPayValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">SecurionPayCommandPool</argument>
        </arguments>
    </virtualType>
    <!-- END Payment Method Facade configuration -->

    <!-- Vault Payment Method Facade configuration -->
    <virtualType name="SecurionPayCreditCardVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">SecurionPayVaultPaymentConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">SecurionPayVaultPaymentValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">SecurionPayFacade</argument>
            <argument name="code" xsi:type="const">Simon\SecurionPay\Model\Ui\ConfigProvider::CC_VAULT_CODE</argument>
        </arguments>
    </virtualType>
    <!-- END: Vault Payment Method Facade configuration -->

    <type name="Simon\SecurionPay\Block\Adminhtml\Checkout\Payment">
        <arguments>
            <argument name="configProvider" xsi:type="object">Simon\SecurionPay\Model\Ui\Adminhtml\Checkout\ConfigProvider</argument>
        </arguments>
    </type>

    <type name="Simon\SecurionPay\Block\Payment">
        <arguments>
            <argument name="configProvider" xsi:type="object">Simon\SecurionPay\Model\Ui\ConfigProvider</argument>
        </arguments>
    </type>

    <type name="Simon\SecurionPay\Block\Info">
        <arguments>
            <argument name="data" xsi:type="array">
                <item xsi:type="string" name="is_secure_mode">0</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\Adminhtml\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="securionpay" xsi:type="object">Simon\SecurionPay\Model\Ui\Adminhtml\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <!-- Authorize Transaction Request -->
    <virtualType name="SecurionPayAuthorizeRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payment" xsi:type="string">Simon\SecurionPay\Gateway\Request\Authorize\PaymentDataBuilder</item>
                <item name="address" xsi:type="string">Simon\SecurionPay\Gateway\Request\AddressDataBuilder</item>
                <item name="vault" xsi:type="string">Simon\SecurionPay\Gateway\Request\VaultDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- END Authorize Transaction Request -->
</config>
